
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Basic Form</h6>
                <div class="center">               
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button class="btn-danger">{{ button_label|default('Save') }}</button>
                    {{ form_end(form) }}
                </div>


            </div>
        </div>
    </div>
</div>