{% extends 'back/base.html.twig' %}

{% block title %}Edit TypeContrat{% endblock %}

{% block body %}
    <h1>Edit TypeContrat</h1>

    {{ include('type_contrat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_contrat_index') }}">back to list</a>

    {{ include('type_contrat/_delete_form.html.twig') }}
{% endblock %}
