
{% extends 'front/baseF.html.twig' %}
{% block title %}
<title>
Historique Panier
</title>


    {% endblock %}
    {% block home %}{% endblock %}
{% block shop %}active{% endblock %}
    {% block body %}
     <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{{ asset('assets/front/img/breadcrumb-bg.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Payement</h2>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    

  <section class="h-100 h-custom">
  ACCEDER AU PAYEMENT
</section>

    {% endblock %}