{% extends 'base.html.twig' %}

{% block title %}Edit Pass{% endblock %}

{% block body %}
    <h1>Edit Pass</h1>

    {{ include('pass/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_pass_index') }}">back to list</a>

    {{ include('pass/_delete_form.html.twig') }}
{% endblock %}
