{% extends 'front/baseF.html.twig' %}

    {% block title %}

    <title>404</title>
    {% endblock %}
{% block body %}


            <!-- 404 Start -->
                     <center>
            <section class="contact-section spad">
                <div >
                     <div >
                     <br>
                    <br>
                    <br>
                    <br>
                    <br>
                     <div class="col-md-6">
                        <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                        <h1 style="color:white;">404</h1>
                        <h1 style="color:white;">Page Not Found</h1>
                        <p class="mb-4">We’re sorry, the page you have looked for does not exist in our website!
                            Maybe go to our home page or try to use a search?</p>
                        {# <a class="btn btn-primary rounded-pill py-3 px-5" href="">Go Back To Home</a> #}
                    </div>

                    </div>
                </div>
            </section>
                     </center>
            <!-- 404 End -->

{% endblock %}