{% extends 'front/baseF.html.twig' %}



{% block body %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.1/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">

     <style>
        #calendrier{
            margin: auto;
          /*  width: auto !important;
			height: auto !important;*/
			 width: 80%;
			height:auto;
        }
    </style>
	  

     {# dd($calendar); #}

       <section class="hero-section">
        <div class="hs-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="{{ asset('assets/front/img/hero/hero-1.jpg')}}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span>Shape your body</span>
                                <h1>Be <strong>strong</strong> traning hard</h1>
                                <a href="#" class="primary-btn">Get info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="{{ asset('assets/front/img/hero/hero-2.jpg')}}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span>Shape your body</span>
                                <h1>Be <strong>strong</strong> traning hard</h1>
                                <a href="#" class="primary-btn">Get info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>     
 
 <section style="background-color:black;" class="hero-section">
	 <div style="position: center;background-color:white;color:red;background-repeat:no-repeat;background-size:cover;
	 background-image: url('https://st4.depositphotos.com/4259987/21763/i/450/depositphotos_217633412-stock-photo-picture-of-strong-sporty-bodybuilder.jpg');
	  "id="calendrier"></div>     
	 </section>
{# ________________________________________________________Debut__Partie JS___________________________________________________________________ #}

	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.1/main.min.js" 
       
	    integrity="sha256-aZcQFPL6+lsgcL5uMWS2B/cf6WplQQOEhLKi88tYh6A=" crossorigin="anonymous"></script>
<script>
    window.onload = () => {
        let calendarElt = document.querySelector("#calendrier")
        let calendar = new FullCalendar.Calendar(calendarElt, {
 
            initialView: 'timeGridWeek',
            locale: 'fr',
            timeZone: 'Afrique/Tunisie',
		    weekends: true,

  defaultView: 'dayGridWeek',
 			    //businessHours: {
				//start: '08:00',
				//end: '18:00',
				//dow: [1, 2, 3, 4, 5]
				//},
            headerToolbar: {
                start: 'today',
                center: 'title',
                end: 'timeGridWeek,listWeek'
            },
			
            events:{{data|raw}},
			editable:false,
		    eventResizableFromStart:false,
			      // datesSet: function (info) {
      // Récupérer la date de début de la plage d'affichage
           //let start = info.start;
      // Récupérer la date de fin de la plage d'affichage
            //let end = info.end;
      // Calculer la différence en jours entre les deux dates
           //let diff = end.diff(start, 'days');
      // Si la plage d'affichage est supérieure à 7 jours
           //if (diff > 7) {
        // Ajuster la date de fin pour n'afficher qu'une semaine
             // end = start.clone().add(7, 'days');
        // Définir la plage d'affichage pour n'afficher qu'une semaine
             //calendar.gotoDate(start);
            //       //calendar.gotoDate(end);
           // }
         // }
		/*		eventDrop :function(event){
				console.log(event)
			}*/
			

    })

			calendar.on('eventChange',(e) => {
			//afficher 
				//console.log(e) 
				// pour assurer l'injection des données => 
				//Créer une variable URL qui contient la route de l'injection des données
				 
				 let url = `/api/${e.event.id}/edit`
           //Créer un tableau JSon pour stocker nos données de la table plannig 
		    let donnees = {
                "title": e.event.title,
                "description": e.event.description,
                "start": e.event.start,
                "end": e.event.end,
                "backgroundColor": e.event.background_color,
                "borderColor": e.event.border_color,
                "textColor": e.event.text_color,
				"activite": e.event.activite,

 
             }          
			           
			})		

                calendar.render()
    }
</script>
          
 {% endblock %}
						  

{# </div> #}
			{# </section><!-- Class Details Section End --><!-- Class Timetable Section Begin --><section class="class-timetable-section class-details-timetable spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="class-details-timetable_title">
							<h5>Classes timetable</h5>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div class="class-timetable details-timetable">
							<table>
								<thead>
									<tr>
										<th></th>
										<th>Monday</th>
										<th>Tuesday</th>
										<th>Wednesday</th>
										<th>Thursday</th>
										<th>Friday</th>
										<th>Saturday</th>
										<th>Sunday</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="class-time">6.00am - 8.00am</td>
										<td class="dark-bg hover-dp ts-meta" data-tsmeta="workout">
											<h5>WEIGHT LOOSE</h5>
											<span>RLefew D. Loee</span>
										</td>
										<td class="hover-dp ts-meta" data-tsmeta="fitness">
											<h5>Cardio</h5>
											<span>RLefew D. Loee</span>
										</td>
										<td class="dark-bg hover-dp ts-meta" data-tsmeta="workout">
											<h5>Yoga</h5>
											<span>Keaf Shen</span>
										</td>
										<td class="hover-dp ts-meta" data-tsmeta="fitness">
											<h5>Fitness</h5>
											<span>Kimberly Stone</span>
										</td>
										<td class="dark-bg blank-td"></td>
										<td class="hover-dp ts-meta" data-tsmeta="motivation">
											<h5>Boxing</h5>
											<span>Rachel Adam</span>
										</td>
										<td class="dark-bg hover-dp ts-meta" data-tsmeta="workout">
											<h5>Body Building</h5>
											<span>Robert Cage</span>
										</td>
									</tr>
									<tr>
										<td class="class-time">10.00am - 12.00am</td>
										<td class="blank-td"></td>
										<td class="dark-bg hover-dp ts-meta" data-tsmeta="fitness">
											<h5>Fitness</h5>
											<span>Kimberly Stone</span>
										</td>
										<td class="hover-dp ts-meta" data-tsmeta="workout">
											<h5>WEIGHT LOOSE</h5>
											<span>RLefew D. Loee</span>
										</td>
										<td class="dark-bg hover-dp ts-meta" data-tsmeta="motivation">
											<h5>Cardio</h5>
											<span>RLefew D. Loee</span>
										</td>
										<td class="hover-dp ts-meta" data-tsmeta="workout">
											<h5>Body Building</h5>
											<span>Robert Cage</span>
										</td>
										<td class="dark-bg hover-dp ts-meta" data-tsmeta="motivation">
											<h5>Karate</h5>
											<span>Donald Grey</span>
										</td>
										<td class="blank-td"></td>
									</tr> #}
									{# <tr>
										<td class="class-time">5.00pm - 7.00pm</td>
										<td class="dark-bg hover-dp ts-meta" data-tsmeta="fitness">
											<h5>Boxing</h5>
											<span>Rachel Adam</span>
										</td>
										<td class="hover-dp ts-meta" data-tsmeta="motivation">
											<h5>Karate</h5>
											<span>Donald Grey</span>
										</td>
										<td class="dark-bg hover-dp ts-meta" data-tsmeta="workout">
											<h5>Body Building</h5>
											<span>Robert Cage</span>
										</td>
										<td class="blank-td"></td>
										<td class="dark-bg hover-dp ts-meta" data-tsmeta="workout">
											<h5>Yoga</h5>
											<span>Keaf Shen</span>
										</td>
										<td class="hover-dp ts-meta" data-tsmeta="motivation">
											<h5>Cardio</h5>
											<span>RLefew D. Loee</span>
										</td>
										<td class="dark-bg hover-dp ts-meta" data-tsmeta="fitness">
											<h5>Fitness</h5>
											<span>Kimberly Stone</span>
										</td>
									</tr>
									<tr>
										<td class="class-time">7.00pm - 9.00pm</td>
										<td class="hover-dp ts-meta" data-tsmeta="motivation">
											<h5>Cardio</h5>
											<span>RLefew D. Loee</span>
										</td>
										<td class="dark-bg blank-td"></td>
										<td class="hover-dp ts-meta" data-tsmeta="fitness">
											<h5>Boxing</h5>
											<span>Rachel Adam</span>
										</td>
										<td class="dark-bg hover-dp ts-meta" data-tsmeta="workout">
											<h5>Yoga</h5>
											<span>Keaf Shen</span>
										</td>
										<td class="hover-dp ts-meta" data-tsmeta="motivation">
											<h5>Karate</h5>
											<span>Donald Grey</span>
										</td>
										<td class="dark-bg hover-dp ts-meta" data-tsmeta="fitness">
											<h5>Boxing</h5>
											<span>Rachel Adam</span>
										</td>
										<td class="hover-dp ts-meta" data-tsmeta="workout">
											<h5>WEIGHT LOOSE</h5>
											<span>RLefew D. Loee</span>
										</td>
									</tr> #}
								{# </tbody>
							</table>
						</div>
					</div>
				</div>
			</div></section>    #}
