{# {% extends 'front/baseF.html.twig' %} #}



{% block body %}

<style>
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  width: 75%;
  max-width: 1000px;
  background-color: #313131;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  display: flex;
}

.contact {
  padding: 30px 60px;
  color: white;
}

h1 {
  margin-bottom: 60px;
}

.contact-item {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.contact-item:not(:last-child) {
  margin-bottom: 30px;
}

ion-icon {
  margin-right: 15px;
}

#map {
  height: 400px;
  flex: 1;
}
</style>
		 <body>
    <div class="wrapper">
      <div class="contact">
        <h1>Nous contacter</h1>
        <div class="contact-items">
          <div class="contact-item">
            <a href="tel:0388888888">
              <ion-icon name="call"></ion-icon>
              03 88 88 88 88
            </a>
          </div>
          <div class="contact-item">
            <a href="mailto:exemple@test.com">
              <ion-icon name="mail"></ion-icon>
              exemple@test.com
            </a>
          </div>
          <div class="contact-item">
            <a href="www.exemple.com">
              <ion-icon name="globe"></ion-icon>
              www.exemple.com
            </a>
          </div>
        </div>
      </div>
      <div id="map"></div>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></scrip>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <script src="./app.js"></script>

    var map = L.map("map").setView([48.856614, 2.3522219], 13);
<script>
var Stadia_OSMBright = L.tileLayer(
  "https://tiles.stadiamaps.com/tiles/osm_bright/{z}/{x}/{y}{r}.png",
  {
    maxZoom: 20,
    attribution:
      '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
  }
);

Stadia_OSMBright.addTo(map);

var marker = L.marker([48.856614, 2.3522219]).addTo(map);
</script>

 		{% endblock %}
