{% extends 'back/base.html.twig' %}
    {% block body %}
                        
       <style>
		body {
			background-color: #f5f5f5;
			color: #222;
			transition: background-color 0.5s ease;
		}
		body.dark-mode {
			background-color: #222;
			color: #f5f5f5;
		}
		.button {
			background-color: #007bff;
			color: #fff;
			padding: 10px;
			border-radius: 5px;
			cursor: pointer;
		}
	</style>
<body>
	<button class="button" onclick="toggleDarkMode()">Mode sombre / Mode nuit</button>

	<script>
		function toggleDarkMode() {
			var body = document.getElementsByTagName('body')[0];
			body.classList.toggle('dark-mode');
		}
	</script>


            <!-- Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Single Line Chart</h6>
                            <canvas id="line-chart"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Multiple Line Chart</h6>
                            <canvas id="salse-revenue"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Single Bar Chart</h6>
                            <canvas id="bar-chart"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Multiple Bar Chart</h6>
                            <canvas id="worldwide-sales"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Pie Chart</h6>
                            <canvas id="pie-chart"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Doughnut Chart</h6>
                            <canvas id="doughnut-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            </body>
            <!-- Chart End -->
         {% endblock %}



        