{% extends 'back/base.html.twig' %}


{% block body %}
            <!-- Form Start -->
          
             <h1>Create new Offer</h1>
             
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                  
                        <div class="bg-secondary rounded h-100 p-4">
                          <div class="text-center">
                            <h6 class="mb-4">Offer Form</h6>
                          
                               <div class="text-center">
                                <div class="mx-auto" style="max-width: 400px;"> {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
                </div>
                    </div>
                    </div>
                     </div>
                    </div>
                  
            <!-- Form End -->
{% endblock %}