{% extends 'back/base.html.twig' %}


 
	
{% block body %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.1/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">


     <style>
        #calendrier{
            margin: auto;
            width: 63%;
			height: 60%;
        }
    </style>
	  

	 <div style="position: center;background-color:black;"id="calendrier"></div>     
     {# dd($calendar); #}

            
 


{# ________________________________________________________Debut__Partie JS___________________________________________________________________ #}

	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.1/main.min.js" 
       
	    integrity="sha256-aZcQFPL6+lsgcL5uMWS2B/cf6WplQQOEhLKi88tYh6A=" crossorigin="anonymous"></script>


<script>
    window.onload = () => {
        let calendarElt = document.querySelector("#calendrier")
        let calendar = new FullCalendar.Calendar(calendarElt, {
 
            initialView: 'timeGridWeek',
            locale: 'fr',
            timeZone: 'Afrique/Tunisie',
		    weekends: true,
                themeSystem: 'bootstrap5',


  defaultView: 'dayGridWeek',
 			    businessHours: {
				start: '06:00',
				end: '18:00',
				dow: [1, 2, 3, 4, 5],// dow ==> day of week
               
				},   
                // Specifique pour le head du calendrier
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'timeGridWeek,listWeek,timeGridDay'
            },
			    dayMaxEvents: true, // allow "more" link when too many events

            events:{{data|raw}},
			editable:true,
		    eventResizableFromStart:true,
            
	

    })

			calendar.on('eventChange',(e) => {
			//afficher 
				//console.log(e) 
				// pour assurer l'injection des données => 
				//Créer une variable URL qui contient la route de l'injection des données
				 
				 let url = `/api/${e.event.id}/edit`
           //Créer un tableau JSon pour stocker nos données de la table plannig 
		    let donnees = {
                "title": e.event.title,
                "description": e.event.description,
                "start": e.event.start,
                "end": e.event.end,
                "backgroundColor": e.event.background_color,
                "borderColor": e.event.border_color,
                "textColor": e.event.text_color,
				"activite": e.event.activite,

 
             }          
			            let xhr = new XMLHttpRequest 
						// !!!Remarque on n'utilise que la methode PUT  car on autorise que la MAJ 
 						 xhr .open("PUT", url)
           				 xhr.send(JSON.stringify(donnees))
			})		

                calendar.render()
    }
</script>
                     {# __________________________Fin__Partie JS________________________________________________ #}


                     {# __________________________Fin__Partie JS________________________________________________ #}



  

 
{% endblock %}


 