{% extends 'back/base.html.twig' %}

{% block body %}  

<div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                 
                    </div>
                    <div class="col-sm-16col-xl-6">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">total subscription</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                   
                  
                </div>
            </div>
<div class="row my-4">


  


   <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Distribution of subscriptions by offer ID</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="chart"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Breakdown of subscriptions by start date</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="yesss"></canvas>
                        </div>
                    </div>
                </div>
            </div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var chartLabels = {{ chart_labels|raw }};
    var chartData = {{ chart_data|raw }};
    var chart = new Chart(document.getElementById("chart"), {
        type: 'bar',
        data: {
            labels: chartLabels,
            datasets: [{
                
                label: 'subscription/offer ID',
                data: chartData,
                backgroundColor: '#ff2200'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var chartLabels = {{ la|raw }};
    var chartData = {{ da|raw }};
    var chart = new Chart(document.getElementById("yesss"), {
        type: 'bar',
        data: {
            labels: chartLabels,
            datasets: [{
                label: 'subscription/start date',
                data: chartData,
                backgroundColor: '#ff2200'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>


{% endblock %}