{% extends 'back/base.html.twig' %}


{% block body %}
            <!-- Table Start -->
            <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
                        <div class="container-fluid pt-4 px-4" style="bottom:0;">
                        <button type="button" class="btn btn-light m-2">Add New</button>
                            {# <div class="card-body"> #}
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Products</th>
                                                                <th>Price</th>
                                                                <th>date</th>
                                                                <th>client</th>
                                                                <th>etat</th>
                                                                <th>action</th>
                                                            </tr>
                                                        </thead>
                                                    
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">1</th>
                                                                <td>John</td>
                                                                <td>Doe</td>
                                                                <td>jhon@email.com</td>
                                                                <td>USA</td>
                                                                <td>123</td>
                                                                <td>Member</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">2</th>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                                <td>mark@email.com</td>
                                                                <td>UK</td>
                                                                <td>456</td>
                                                                <td>Member</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">3</th>
                                                                <td>Jacob</td>
                                                                <td>Thornton</td>
                                                                <td>jacob@email.com</td>
                                                                <td>AU</td>
                                                                <td>789</td>
                                                                <td>Member</td>
                                                            </tr>
                                                        </tbody>
                                                        </table>
                                                    </div>
                                        </div>
                            </div>
            <!-- Table End -->
            {% endblock %}

            