{% extends 'base.html.twig' %}

{% block title %}New Calendrier{% endblock %}

{% block body %}
    <h1>Create new Calendrier</h1>

    {{ include('calendrier/_form.html.twig') }}

    <a href="{{ path('app_calendrier_index') }}">back to list</a>
{% endblock %}
